@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --header_color: #0A2187;
    --button-text: #FD4A4A;
    --black: #000000;
    --white: #ffffff;
    --box-shadow: #B9B9B9;
    --featureBg: #D9D9D9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a:visited{
    color: inherit;
}

/* Header Styling */
header{
    background: linear-gradient(var(--header_color), var(--box-shadow));
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.nav img{
    width: 50px; 
}

.logo{
    display: flex;
    align-items: center;
}

.logo p{
    font-weight: bold;
}

.signup, #login{
    border: none;
    outline: none;
    font-size: 16px;
}

button a{
    text-decoration: none;
    font-weight: bold;
}

.signup {
    padding: 8px 15px;
    border-radius: 10px;
    background-color: var(--header_color);
    color: var(--white);
}

#login{
    color: var(--black);
    background-color: transparent;
    margin: 0 10px;
}

/* Hero Styling */
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 150px 100px;
}

h1{
    margin-bottom: 50px;
    font-size: 45px;
}

.hero p{
    text-align: center;
    margin-bottom: 45px;
    font-size: 30px;
}

button{
    background-color: var(--white);
    color: var(--button-text);
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

/* Main Section */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

h2{
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 30px;
}

.features-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 60px;
    row-gap: 60px;
}

.feature{
    background-color: var(--featureBg);
    border: 2px solid var(--black);
    border-radius: 5px;
    box-shadow: 5px 5px 5px var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 98px;
}

h3{
    text-transform: capitalize;
    margin-bottom: 20px;
}

.feature p{
    text-align: center;
}

/* Footer Styling */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img{
    width: 12%;
    margin-bottom: 30px;
}

footer nav{
    display: flex;
    column-gap: 30px;
    margin-bottom: 25px;
}

footer nav a{
    color: var(--black);
}

.footer_div{
    border-bottom: 2px solid var(--box-shadow);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p{
    margin: 25px 0;
}

footer nav a{
    text-decoration: none;
    font-weight: bold;
}

footer nav a:hover{
    color: var(--header-color);
}